<div class="board-card relative">
<%= link_to surf_boards_path, class: "back-btn absolute top-4 left-4" do %>
  <i class="fas fa-chevron-left"></i>
<% end %>
  <h1 class="font-semibold leading-none text-center mt-4 mb-6">Edit Surfboard</h1>
  
  <%= render 'form' %>
  <br/>
</div>

