{{ define "main" }}
  <div class="flex min-h-full flex-col justify-center px-6 py-6 lg:px-8">
    <h2>Internal Server Error</h2>
    <p>Oops. The code clearly has a bug. Sorry!</p>
    <a href="/" class="button">Go to Home</a>
  </div>
{{ end }}
