{{ define "main" }}
  <div class="tw:m-auto tw:max-w-96">
    <hgroup>
      <h3>Login</h3>
      <p>Welcome back, please login to your account.</p>
    </hgroup>
    <form method="post">
      <fieldset>
        <input type="email" name="username" placeholder="Email" required />
        <small id="email-helper"
          >We'll never share your email with anyone else.</small
        >
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
      </fieldset>
      <button type="submit">Login</button>
    </form>
  </div>
{{ end }}
